.pageContainer {
  padding-top: 10px;
}

.divSocialNetwork {
  float: right;
  position: relative;
}

.divSocialNetwork > img {
  margin: 5px;
  padding: 5px;
  border: 2px solid #41406D;
  border-radius: 20%;
}

.divSocialNetwork > img:hover {
  margin-right: 5px;
  opacity: 0.5;
}

/* admin page */

.button {
  padding: 1%;
  text-decoration: none;
  border: 2px ridge gray;
  background-color: gainsboro;
}

.adminTable {
  margin-left: auto;
  margin-right: auto;
  border : 1px solid black;
  border-spacing: 0;
  background-color: ghostwhite;
}

.adminItems {
  border-bottom : 1px solid black;
    flex-grow: 1;
}

/* create-edit page */

.imgPanel {
  display:inline-block;
}

.toolsPanel {
  display:inline-block;
  background-color:silver;
}

.topArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.titreArea {
  width:83%;
}

.dateArea {
 width:15%;
}

.articleArea {
  width: 100%;
}

.bottomArea {
}

/* article text styling */

.mehari-img {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.dateArticle {
 text-align:right;
 font-family: Arial, Helvetica, sans-serif;
 color:#41406D;
}

b {
 font-family: Arial, Helvetica, sans-serif;
}

p, li {
 padding-left: 5%;
 padding-right: 5%;
 font-family: Arial, Helvetica, sans-serif;
 text-align: justify;
 color:#41406D;
}

p:first-of-type {
  text-align: right;
}

h1 {
 text-align:center;
 font-family: Arial, Helvetica, sans-serif;
 color:#41406D;
}

h2 {
 text-align:center;
 font-family: Arial, Helvetica, sans-serif;
 color:#41406D;
}

h3 {
 padding-left: 5%;
 padding-right: 5%;
 font-family: Arial, Helvetica, sans-serif;
 color:#41406D;
}

hr {
  width:10%; 
  height:1%;
  border-width:0;
  background-color:#F3A536;
}

/* images styling */

figure {
  padding-left:5%;
  text-align:center;
}

figure > img {
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: auto;
}

figcaption {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Arial, Helvetica, sans-serif;
  color:#41406D;
}

/* ------- rubriques dedicated classes -----------  */
 /* --------- preview (thumb) style ------------ */

.newsRubrique {
  display: inline-block;
  margin: 0.2%;
  padding: 0.4%;
  width: 15%;
  height: fit-content;
  cursor: pointer;
  color: #F3A536;
  background-color: #41406D;
}

 .newsRubrique > p {
   text-align:left; 
   padding:0; 
   color:white;
 }

.ritecultureRubrique {
  background-color: #66C4B2;
  color: #6F2645;
}

.thumbImg {
  width: 100%;
  height: auto;
}

/* precedent, suivant */

.buttonLinkLeft {
  cursor: pointer;
}

.buttonLinkLeft > a {
  text-decoration: none;
  font-size:24px;
}

.buttonLinkRight {
  cursor: pointer;
}

.buttonLinkRight > a {
  text-decoration: none;
  font-size:24px;
}

/* desktop devices */
@media screen and (min-width: 769px) {
  p, a, li, ul {
    font-size:12px;
  }
}

/* mobile devices */
@media only screen and (max-width: 768px) {
 .mehari-img {
   display:flex;
   flex-direction: column;
 }

  p, a, li, ul {
   font-size:16px;
  }

  h1 {
   font-size:22px;
  }

  h2 {
   font-size:20px;
  }

  h3 {
   font-size:18px;
  }
 
 .newsRubrique {
   margin: 0.2%;
   padding: 0.4%;
   width: 100%;
   height: auto;
   cursor: pointer;
    color: #F3A536;
    background-color: #41406D;
 }

 .newsRubrique > p {
   text-align:left; 
   padding:0; 
 }

 .ritecultureRubrique {
  background-color: #66C4B2;
  color: #6F2645;
}

 .thumbImg {
   width: 100%;
   height: auto;
 }

.pageContainer {
  overflow-y: scroll;
  width: 100%;
  position: relative;
  top: 2%;
  height: 100%;
}

.bouton-global {
  display: none;
}

.bouton-bar {
  display: none;
}

  .buttonLinkLeft {
    cursor: pointer;
    alignment: left;
  }

  .buttonLinkLeft > a {
    text-decoration: none;
    font-size:64px;
  }

  .buttonLinkRight {
    cursor: pointer;
    alignment: right;
  }

  .buttonLinkRight > a {
    text-decoration: none;
    font-size:64px;
  }
}