{% include "head.html" %}

<div class="pageContainer" id="container">
    <div class="topArea" align="right">
        <a href="{{baseURL}}upload" class="button">Upload</a>
        <a href="{{baseURL}}public/img/archive.tgz" class="button">Sauvegarder</a>
        <a href="{{baseURL}}create" class="button">Créer un article</a>
    </div>
    <br>
    <table class="adminTable">
      {% for element in search_result : %}
        <tr class="adminItems">
          <td  class="adminItems">
             <a href="{{baseURL}}type=article&id={{element.id}}">{{element.title}}</a>
          </td>
          <td  class="adminItems">
              <button><a href="{{baseURL}}edit={{element.id}}">edit</a></button>
          </td>
          <td class="adminItems">
              <button><a href="{{baseURL}}delete={{element.id}}">delete</a></button>
          </td>
        </tr>
    {% endfor %}
  </table>
</div>

{% include "foot.html" %}