{% include "head.html" %}

{% include "upPane.html" %}

<div class="pageContainer" id="container">
     {% if (result.title == "Bienvenue" or result.title == "Contact" or result.title == "Qui sommes nous ?" ) %}
         {{result.content|safe}}
     {% else %}
        <div class="mehari-img">
            <img src="{{baseURL}}public/img/mehari-cover.jpg" width="30%;" height="auto">
            <span>
                 <h1 style="padding-top: 10%">{{ result.title }}</h1>
            </span>
        </div>
         {{ result.content|safe }}
             <script>insertSocialNetwork("{{result.id}}")</script>
             <script>insertDate("{{result.date}}")</script>
     {% endif %}
</div>

{% include "foot.html" %}