{% include "head.html" %}

{% include "upPane.html" %}

<div class="pageContainer" id="container">
    <form method="post" onsubmit="logSubmit()" id="formEditArticle">
        <span class="topArea">
           <input type="text" class="titreArea" id="titreAreaId" name="title" value="{{result.title}}">
           <input type="date" class="dateArea" name="date" value="{{result.date}}">
        </span>
        <textarea style="white-space: pre-wrap; overflow-wrap: break-word;" class="articleArea" id="articleAreaId" name="content">{{result.content}}</textarea>
        <br>
        <br>
        <div align="right" class="bottomArea">
            <input type="text" style="display:none;" name="typeIsArticle" value="{{result.typeIsArticle}}">
            <input type="text" style="display:none;" name="categorie" value="{{result.categorie}}">
            <input type="text" style="display: none" name="thumbail" id="thumbailChooser" value="{{result.thumbail}}">
            <input class="publishBtn" type="submit" value="Valider">
        </div>
    </form>
</div>

<script>
    function logSubmit() {
        copyImagesList();
    }
</script>

{% include "foot.html" %}