<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mehari consulting</title>
  <link rel="stylesheet" href= 'public/CSS/navigation.css'>
  <link rel="stylesheet" href= 'public/CSS/pageContainer.css'>
  <link rel="stylesheet" href= 'public/CSS/foot.css'>
  <link rel="shortcut icon" type="image/x-icon" href="public/favicon.ico"/>
</head>

<body>
<script type="text/javascript" src="public/scripts/client.js"></script>
<script type="text/javascript" src="public/scripts/editor.js"></script>
