  <div class="bouton-global" onclick="ShowHide()">
      <div class="bouton-bar"></div>
      <div class="bouton-bar"></div>
      <div class="bouton-bar"></div>
  </div>

<div class="lateralPane" id='menuPane'>
  <div class="paneLink" onclick="location.href='{{baseURL}}type=article&id=bienvenue-py8w8wee'">
     <a class="paneA"> Bienvenue</a>
  </div>
  <div class="paneLink" onclick="location.href='{{baseURL}}type=article&id=quisommesnous-jlceg7g8'">
     <a class="paneA"> Qui sommes nous ?</a>
  </div>
  <div class="paneLink" onclick="location.href='{{baseURL}}type=article&id=contact-08unl12x'">
     <a class="paneA"> Contact</a>
  </div>
  <br>
  <div class="paneLink" onclick="location.href='{{baseURL}}type=rubrique&name=riteculture&index=0'">
     <a class="paneA"> Rites et Cultures du Mali</a>
  </div>
  <div class="paneLink" onclick="location.href='{{baseURL}}infos'">
     <a class="paneA"> Les actualités du Mehari</a>
  </div>
</div>