<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mehari Consulting</title>
    <link rel="stylesheet" href="public/style.css">
    <link rel="stylesheet" href="public/colors.css">
    <link rel="shortcut icon" type="image/x-icon" href="public/favicon.ico"/>
</head>

<body>

{% include "lateralPane.html" %}

<div class="pageContainer" id="container">
    <form action="/login" method="post" id="formLogin">
        <div style="display:block; padding-left:40%; padding-top:10%;">
            <input type="text" class="identifiantArea" id="identifiantAreaId" name="identifiant"
                placeholder="Identifiant"></input>
            <br>
            <br>
            <input type="password" class="passwordArea" id="passwordAreaId" name="password" placeholder="Password"></input>
            <br>
            <br>
            <input class="loginBtn" type="submit" value="connexion"></input>
        </div>
    </form>
</div>

</body>
</html>