{% include "head.html" %}

{% include "upPane.html" %}

<div class="pageContainer" id="container">
    <form action="/login" method="post" id="formLogin">
        <div style="display:block; padding-left:40%; padding-top:10%;">
            <h3>Connexion</h3>
            <input type="text" class="identifiantArea" id="identifiantAreaId" name="identifiant"
                placeholder="Identifiant"></input>
            <br>
            <br>
            <input type="password" class="passwordArea" id="passwordAreaId" name="password" placeholder="Password"></input>
            <br>
            <br>
            <input class="loginBtn" type="submit" value="connexion"></input>
        </div>
    </form>
</div>

{% include "foot.html" %}