{% include "head.html" %}

{% include "upPane.html" %}

<div class="pageContainer" id="container">
{% for element in search_result: %}
   <div onclick="window.open('{{baseURL}}type=article&id={{element.id}}')" id="{{element.id}}" class="newsRubrique ritecultureRubrique" name="thumb">
     <img class='thumbImg' src="{{baseURL}}public/img/{{element.thumbail}}">
     <b>{{element.title|truncate(40, True) }}</b>
     <p>{{element.content|truncate(100, True)|striptags}}</p>
   </div>
{% else %}
    <p>aucun article trouvé</p>
{% endfor %}

<br><br>

    <div style="position: relative; display: flex; flex-direction: row; justify-content: space-around;">
            {% if (index_articles_precedents >= 0): %}
            <button class="buttonLinkLeft">
                <a href="{{baseURL}}type=rubrique&name={{categorie_name}}&index={{index_articles_precedents}}"><b>&nbsp;&lt;&nbsp;</b></a>
            </button>
            {% endif %}

            {% if (index_articles_suivants < count_articles): %}
            <button class="buttonLinkRight">
                <a href="{{baseURL}}type=rubrique&name={{categorie_name}}&index={{index_articles_suivants}}"><b>&nbsp;&gt;&nbsp;</b></a>
            </button>
            {% endif %}
    </div>
</div>

{% include "foot.html" %}