<!-- The navigation menu -->
<div class="head">
  <h1>Mehari Consulting</h1>

  <div class="navbar" style="display:flex; justify-content: center">
    <a href="{{baseURL}}type=article&id=bienvenue-py8w8wee">Bienvenue</a>
    <div class="subnav">
      <button class="subnavbtn">Infos</button>
      <div class="subnav-content">
        <a rel="les dernières actualités" href="{{baseURL}}infos" a>Actualités</a>
        <a rel="Gouvernance, paix et société civile" href="{{baseURL}}type=rubrique&name=gouvPaixCivile&index=0" a>Paix</a>
        <a rel="Rites et Cultures du Mali" href="{{baseURL}}type=rubrique&name=riteculture&index=0">Culture</a>
      </div>
    </div>
    <a href="{{baseURL}}type=article&id=quisommesnous-jlceg7g8">Qui sommes nous ?</a>
    <a href="{{baseURL}}type=article&id=contact-08unl12x">Contact</a>
  </div>
</div>
